button {
    position: relative;
    border-radius: 50%;
    background: var(--light-pink);
    border: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#icon-play {
    height: 50%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-37%, -47%);
}

#icon-pause {
    height: 110%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button>svg>path {
    fill: var(--pink);
}