#con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#img-con {
    border-radius: var(--br);
    width: 80vw;
    aspect-ratio: 16/9;
    overflow: hidden;
}

#img-con>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}