#con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#img-con {
    border-radius: var(--br);
    width: 80vw;
    aspect-ratio: 16/9;
    overflow: hidden;
}

#img-con>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a {
    font-size: 30px;
}

#text-con {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

#old {
    font-size: 20px;
    text-decoration: line-through
}