#con {
    border-radius: 200px;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    box-sizing: border-box;

}

#con:active {
    box-shadow: inset 1000px 1000px rgba(0, 0, 0, 0.05);
}

#text-button-con {
    padding-left: 4px;
    flex: 1;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-play-button {
    height: 40px;
    aspect-ratio: 1/1;
    padding-right: 4px;
}

app-download-button {
    height: 23px;
    aspect-ratio: 1/1;
    padding-right: 3px;
}