#con {
    position: relative;
    width: 100%;
    max-width: 300px;
    background: var(--background-light);
    border-radius: var(--br);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    overflow: hidden;
    transition: max-height 2s ease-in-out;
    padding: 20px;
    gap: 20px;
}

#con.open {
    max-height: 1000px;
}

#con.closed {
    max-height: 360px;
}

p {
    margin: 0;
}

#space {
    height: 20px;
}

#text-con {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

#text-con:before {
    content: '';
    width: 100%;
    height: 20px;
    max-height: 20%;
    position: absolute;
    bottom: 50px;
    background: linear-gradient(transparent 0, var(--background-light));
}

#btn-con {}

button .dot {
    background: var(--text-dark);
    border-radius: 50%;
    height: 3px;
    aspect-ratio: 1/1;
}

button {
    background: var(--background-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 17px;
    width: 80px;
    border: none;
    border-radius: var(--br);
    bottom: 14px;
}