
#con {
    position: relative;
    width: 100%;
    background: radial-gradient(151.86% 151.86% at 50% 50%, #ACC09A 0%, #A28B6A 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    overflow: hidden;
    padding: 30px;
}

#text-con {
    height: 95%;
    overflow: hidden;
}

button .dot {
    background: black;
    border-radius: 50%;
    height: 3px;
    aspect-ratio: 1/1;
}

button {
    background: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 20px;
    width: 80px;
    border: none;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
