#con {
    border: var(--grass-green-dark) solid 3px;
    position: relative;
    width: 100%;
    background: var(--grass-green);
    border-radius: var(--br);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    overflow: hidden;
    padding: 30px;
}

p {
    margin: 0;
}

#space {
    height: 20px;
    // background: red;
}

#text-con {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 95%;
    overflow: hidden;
}

button .dot {
    background: black;
    border-radius: 50%;
    height: 3px;
    aspect-ratio: 1/1;
}

button {
    background: var(--grass-green-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 17px;
    width: 80px;
    border: none;
    border-radius: var(--br);
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
}