<app-letter></app-letter>
<app-song
    [songName]="seasonsName"
    [songNameWidth]="seasonsWidth"
    [songLyrics]="seasonsLyrics"
    [pathToFile]="seasonsPath"
    [isVideo]="true">
</app-song>
<div id="section-con">
    <div id="section"></div>
</div>
<app-song
    [songName]="springName"
    [songNameWidth]="springWidth"
    [songLyrics]="springLyrics"
    [pathToFile]="springPath"
    [isVideo]="false">
</app-song>
<app-show></app-show>
<!-- <div id="padding"></div> -->
<app-music-player></app-music-player>