<app-letter></app-letter>
<app-song [songName]="discoName" [songNameWidth]="discoWidth" [songLyrics]="discoLyrics" [pathToFile]="discoPath">
</app-song>
<a id="linktree" href="{{linkTree}}"><img src="{{linkTreePath}}"></a>
<div id="profile-img-con">
    <img id="profile-img" src="{{profilePicPath}}">
</div>
<app-social></app-social>
<a id="shvr" href="{{shvrLink}}"><img src="{{shvrBigPath}}"></a>
<div id="yoavrabby">
    <p>Made by
        <a href="https://yoavrabby.com/"> yoavrabby.com</a>
    </p>
</div>
<div id="padding"></div>
<app-music-player></app-music-player>