app-music-player {
    position: fixed;
    bottom: 0;
    right: -1px;
    aspect-ratio: 4/1;
    width: 101vw;
}


#section-con {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section {
    opacity: .3;
    height: 1px;
    background: var(--blue);
    border-radius: 20px;
    width: 60vw;
}

#padding {
    height: 10vh;
}

@media screen and (min-width: 500px) {
    app-music-player {
        bottom: 5%;
        right: 50%;
        transform: translateX(50%);

        width: 500px;
        border-radius: 20px;
        overflow: hidden;
    }

    #padding {
        height: 20vh;
    }
}