app-music-player {
    position: fixed;
    bottom: 0;
    right: -1px;
    aspect-ratio: 4/1;
    width: 101vw;
}


@media screen and (min-width: 500px) {
    app-music-player {
        bottom: 5%;
        right: 50%;
        transform: translateX(50%);

        width: 500px;
        border-radius: 20px;
        overflow: hidden;
    }
}