app-music-player {
    position: fixed;
    bottom: 0;
    right: -1px;
    aspect-ratio: 4/1;
    width: 101vw;
}

hr.line {
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    background: linear-gradient(90deg, rgba(106, 113, 86, 0.2) 0%, rgba(106, 113, 86, .8) 50%, rgba(106, 113, 86, 0.2) 100%);
    border-radius: 200px;
    width: 160px;
    height: 2px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr.line:before {
    content: "";
    width: 10px;
    aspect-ratio: 1;
    background-color: var(--bush-dark);
    border-radius: 2px;
    transform: rotate(45deg);
}

#padding {
    height: 10vh;
}

@media screen and (min-width: 500px) {
    app-music-player {
        bottom: 5%;
        right: 50%;
        transform: translateX(50%);

        width: 500px;
        border-radius: 20px;
        overflow: hidden;
    }

    #padding {
        height: 20vh;
    }
}