<app-letter></app-letter>
<app-song
    [songName]="seasonsName"
    [songNameWidth]="seasonsWidth"
    [songLyrics]="seasonsLyrics"
    [pathToFile]="seasonsPath"
    [isVideo]="true">
</app-song>
<hr class="line">
<app-song
    [songName]="springName"
    [songNameWidth]="springWidth"
    [songLyrics]="springLyrics"
    [pathToFile]="springPath"
    [isVideo]="false">
</app-song>
<hr class="line">
<app-show></app-show>
<hr class="line">
<app-social></app-social>
<div id="padding"></div>
<app-music-player></app-music-player>