#title-con h1 {
    color: var(--brown);
}

#letter-con h2 {
    color: var(--reseda-green);
}

#title-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

#letter-con {
    margin: 4vmin;
}

#img-con {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#img-con>img {
    height: 100%;
    width: 100%;
    object-position: 85% center;
    object-fit: cover;
}