#letter-con {}

h1,
h2 {
    padding: 0;
    margin: 0;
}

#title-con {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#letter-text-con {
    max-width: 800px;
    margin: 40px;
}

#img-con {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

img {
    height: 300px;
    aspect-ratio: 1;
    // object-position: 85% center;
    // object-fit: cover;
}