<div id="letter-con">
    <div id="title-con">
        <h2>{{title[0]}} </h2>
        <h1>{{title[1]}} </h1>
    </div>
    <div id="img-con">
        <img lowsrc="assets/disco-cover-low-res.jpg" [style.width]="width" [style.height]="height" src="{{path}}">
    </div>

    <app-text-button id="download-button" [type]="downloadButton" [name]="'mp3'" [height]="30" [width]="70"
        [pathToFile]="discoPath" [fileName]="discoName">
    </app-text-button>

    <div id="letter-text-con">
        <div *ngFor="let l of paragraph; let i = index">
            <p *ngIf="l">{{ l }}</p>
            <div id="space" *ngIf="!l"></div>
        </div>
    </div>
</div>