#letter-con {
    height: 100vh;
    height: 100svh;
}

h1 {
    height: 25px;
}

#title-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

#letter-text-con {
    max-width: 800px;
    margin: 4vmin;
}

img {
    height: 300px;
    aspect-ratio: 1;
    // object-position: 85% center;
    // object-fit: cover;
}

@media screen and (max-width: 550px) {
    p {
        font-size: 26px;
    }
}