#con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#bar {
    height: 2px;
    width: 100%;
    border-radius: 200px;
    background: black;
}

#dot {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: black;
}