<button (click)="downloadFile()">
    <svg id="icon"
        viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="40" height="40" rx="20" />
        <path d="M20 6V26" stroke-width="3" stroke-linecap="round" />
        <path d="M15 21.4545L20 25.9999" stroke-width="3"
            stroke-linecap="round" />
        <path d="M25 21.4545L20 25.9999" stroke-width="3"
            stroke-linecap="round" />
        <path
            d="M9 25V27C9 29.2091 10.7909 31 13 31H27C29.2091 31 31 29.2091 31 27V25"
            stroke-width="4" />
    </svg>
</button>