button {
    display: flex;
    position: relative;
    border-radius: 50%;
    background: var(--primary);
    box-shadow: inset 200px 200px rgba($color: #ffffff, $alpha: .4);
    border: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button>svg>path {
    stroke: var(--primary);
}