
svg {
    position: absolute;
    fill: #978888; //TODO
}

app-play-button {
    position: absolute;
    right: 10px;
    top: 8px;
}

app-time-bar {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}
