svg {
    height: inherit;
    width: inherit;
    position: absolute;
    fill: #978888; //TODO
}

app-play-button {
    width: 10%;
    aspect-ratio: 1/1;
    position: absolute;
    right: 5%;
    top: 7%;
}

app-time-bar {
    position: absolute;
    bottom: 16%;
    left: 50%;
    width: 80%;
    height: 20%;
    transform: translateX(-50%);
}