@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
    direction: rtl;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;

    // colors
    --sky-white: #E7E8ECff;
    --sky-blue: #B1BBC5ff;
    --tree-green: #D8D9C0ff;
    --grass-green: #A5B89Bff;
    --grass-green-dark: rgb(138, 153, 129);
    --bush-dark: #6A7156ff;
    --blue: rgb(54, 173, 212);

    // border
    --br: 20px
}

body {
    background: linear-gradient(180deg, var(--sky-white) 10%, var(--grass-green) 150%);
    margin: 0;
    padding: 0;
}

button:active {
    box-shadow: inset 1000px 1000px rgba(0, 0, 0, 0.05);
}

h1 {
    font-size: xxx-large;
}


p {
    font-size: 32px;
}

@media screen and (max-width: 550px) {
    p {
        font-size: 26px;
    }
}