#con {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

app-video-box,
app-lyrics-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin: 20px 40px 20px 40px;
}

app-text-button {
    margin: 20px;
    position: relative;
    display: block;
}

// TODO
// #song-name {
//     position: sticky;
//     align-self: flex-start;
//     z-index: 20;
//     margin-top: 40px;
//     top: 40px;
//     right: 20px;
// }