:host {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

app-video-box,
app-lyrics-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin: 20px 40px 20px 40px;
}

app-text-button {
    margin: 20px;
    position: relative;
    display: block;
}

#download-button {
    height: 20px;
}