
#con {
    background: var(--pink);
}

#song-name-con {
    height: inherit;
    width: 65%;
    left: 10%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-play-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}